{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <header>
            <h1 class="thin">{{ post.title }}</h1>
            <img class="responsive-img" src="https://unsplash.it/1200/400/?random">
        </header>
        <section>
            <p class="flow-text">{{ post.body }}</p>
        </section>
        <footer>
            <div class="right-align">
                <a href="#" class="btn btn-small green">{{ post.likes }}
                    <i class="material-icons">thumb_up</i>
                </a>
                <a href="#" class="btn btn-small red"> {{ post.dislikes }}
                    <i class="material-icons">thumb_down</i>
                </a>

            </div>
        </footer>
    </article>




    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ post.body }}</td>
        </tr>
        <tr>
            <th>Likes</th>
            <td>{{ post.likes }}</td>
        </tr>
        <tr>
            <th>Dislikes</th>
            <td>{{ post.dislikes }}</td>
        </tr>
        </tbody>
    </table>

    {% include 'comment/recursive.template.html.twig' with {'comments': post.comments, 'level':  0} %}


    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blog_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
